*.bak
RestApp Solution/RestApp.Common/bin
RestApp Solution/RestApp.Common/obj
RestApp Solution/RestApp.Web/bin
RestApp Solution/RestApp.Web/obj
RestApp Solution/RestApp.Services/bin
RestApp Solution/RestApp.Services/obj
RestApp Solution/RestApp.Data/bin
RestApp Solution/RestApp.Data/obj
RestApp Solution/RestApp.Core/bin
RestApp Solution/RestApp.Core/obj
RestApp Solution/RestApp.Web.Framework/bin
RestApp Solution/RestApp.Web.Framework/obj
RestApp Solution/RestApp.Common/bin/Debug/RestApp.Common.dll
RestApp Solution/RestApp.Common/bin/Debug/RestApp.Common.pdb
RestApp Solution/RestApp.Common/bin/Debug/RestApp.Core.dll
RestApp Solution/RestApp.Common/bin/Debug/RestApp.Core.pdb
RestApp Solution/RestApp.Common/obj/Debug/RestApp.Common.csprojResolveAssemblyReference.cache
RestApp Solution/RestApp.Common/obj/Debug/RestApp.Common.dll
RestApp Solution/RestApp.Common/obj/Debug/RestApp.Common.pdb
RestApp Solution/RestApp.Core/bin/Debug/RestApp.Core.dll
RestApp Solution/RestApp.Core/bin/Debug/RestApp.Core.pdb
RestApp Solution/RestApp.Core/bin/Debug/RestApp.Core.pdb
RestApp Solution/RestApp.Core/obj/Debug/RestApp.Core.csprojResolveAssemblyReference.cache
RestApp Solution/RestApp.Core/obj/Debug/RestApp.Core.dll
RestApp Solution/RestApp.Core/obj/Debug/RestApp.Core.pdb
RestApp Solution/RestApp.Data/bin/Debug/RestApp.Common.dll
RestApp Solution/RestApp.Data/bin/Debug/RestApp.Common.pdb
RestApp Solution/RestApp.Data/bin/Debug/RestApp.Core.dll
RestApp Solution/RestApp.Data/bin/Debug/RestApp.Core.pdb
RestApp Solution/RestApp.Data/bin/Debug/RestApp.Data.dll
RestApp Solution/RestApp.Data/bin/Debug/RestApp.Data.pdb
RestApp Solution/RestApp.Data/obj/Debug/RestApp.Data.csprojResolveAssemblyReference.cache
RestApp Solution/RestApp.v11.suo